/* variables for colors */
/* variables for fonts */
/* global classes */
.flex_column, .services, .services .content .col-m-4, .portfolio, .portfolio .gallery .col-m-4, .about_us, .about_us .content, .about_us .content .row-center, .our_team, .our_team .content .col-m-4, .our_team .row, .contact_us {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.flex_row, .services .content, .portfolio .gallery, .our_team .content, .our_team .content .col-m-4 .social-media-icons, .media, .contact_us .contact_form, .contact_us .contact_form .col-m-6, .footer, .footer .row, .footer .row .col-m-4 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.section_heading_styles, .services .section_heading, .portfolio .section_heading, .about_us .section_heading, .our_team .section_heading, .contact_us .section_heading {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  margin-bottom: 50px;
  margin-top: 50px;
}

.main_heading_styles, .services .section_heading .main_heading, .portfolio .section_heading .main_heading, .about_us .section_heading .main_heading, .our_team .section_heading .main_heading, .contact_us .section_heading .main_heading {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0;
  margin-bottom: 0;
}

.subheading_styles, .services .section_heading .subheading, .portfolio .section_heading .subheading, .about_us .section_heading .subheading, .our_team .section_heading .subheading, .contact_us .section_heading .subheading {
  width: 100%;
  font-family: "Crimson Text", serif;
  font-size: 18px;
  text-align: center;
  padding-top: 0;
  margin-top: 0;
}

.heading_h3, .services .content .col-m-4 h3, .portfolio .gallery .col-m-4 .description h3, .about_us .content .row-left-side .col-m-8 .uppercase, .about_us .content .row-left-side .col-m-8 .capitalize, .about_us .content .row-right-side .col-m-8 .uppercase, .about_us .content .row-right-side .col-m-8 .capitalize, .our_team .content .col-m-4 h3 {
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}

.yellow-button, .jumbotron div .button, .contact_us .sending_button button {
  border-radius: 3px;
  background-color: #fed136;
  width: 240px;
  height: 65px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #fafafa;
  border: none;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

[class*='col-'] {
  min-height: 1px;
}

.row {
  width: 100%;
  max-width: 1400px;
}

.col-m-1 {
  width: 8.33%;
}

.col-m-2 {
  width: 16.66%;
}

.col-m-3 {
  width: 25%;
}

.col-m-4 {
  width: 33.33%;
}

.col-m-5 {
  width: 41.66%;
}

.col-m-6 {
  width: 50%;
}

.col-m-7 {
  width: 58.33%;
}

.col-m-8 {
  width: 66.66%;
}

.col-m-9 {
  width: 75%;
}

.col-m-10 {
  width: 83.33%;
}

.col-m-11 {
  width: 91.66%;
}

.col-m-12 {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1400px;
}

/* header */
.jumbotron {
  background-image: url("../images/Background_Image.png");
  width: 100%;
  max-width: 1400px;
  height: 700px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.jumbotron .top_navigation {
  display: flex;
  flex-flow: row nowrap;
}

.jumbotron .top_navigation .logo {
  width: 60%;
  align-self: flex-start;
}

.jumbotron .top_navigation .logo .logo-text {
  font-family: 'Great Vibes', cursive;
  font-size: 26px;
  line-height: 41px;
  text-align: left;
  color: #fed136;
}

.jumbotron .top_navigation .top_menu {
  width: 60%;
  align-self: flex-start;
  height: 15px;
}

.jumbotron .top_navigation .top_menu ul {
  display: inline-block;
  list-style-type: none;
}

.jumbotron .top_navigation .top_menu ul li {
  display: inline-block;
  padding: 0 5px;
}

.jumbotron .top_navigation .top_menu ul li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fafafa;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 41px;
  text-align: center;
}

.jumbotron .welcome_text {
  max-width: 1400px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jumbotron .welcome_text .italic {
  font-family: "Crimson Text", serif;
  text-transform: capitalize;
  color: #fafafa;
  font-size: 40px;
  text-align: center;
}

.jumbotron .welcome_text .uppercase {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #fafafa;
  font-size: 75px;
  font-weight: 700;
  text-align: center;
}

.jumbotron div .button {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* section SERVICES */
.services .content {
  width: 80%;
  margin-bottom: 50px;
}

.services .content .col-m-4 button {
  background-color: transparent;
  border: none;
}

.services .content .col-m-4 button i .icon-btn {
  width: 68px;
  height: 68px;
  color: #fed136;
  border: 3px solid #fed136;
  border-radius: 50%;
  font-size: 40px;
  line-height: 68px;
  text-align: center;
}

.services .content .col-m-4 h3 {
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.services .content .col-m-4 p {
  font-family: "Roboto Slab", serif;
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

/* section PORTFOLIO */
.portfolio {
  background-color: #f1f1f1;
}

.portfolio .gallery {
  width: 80%;
}

.portfolio .gallery .col-m-4 .photo {
  width: 291px;
  height: 301px;
  background-color: #fafafa;
}

.portfolio .gallery .col-m-4 .photo img {
  position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: auto;
}

.portfolio .gallery .col-m-4 .description {
  margin: 0 10px 20px 10px;
  width: 291px;
  height: 93px;
  background-color: #fafafa;
}

.portfolio .gallery .col-m-4 .description h3 {
  margin-bottom: 5px;
  padding-bottom: 0;
}

.portfolio .gallery .col-m-4 .description p {
  font-family: "Crimson Text", serif;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  margin-top: 0;
  padding-top: 0;
}

/* section - ABOUT US */
.about_us .content {
  width: 100%;
}

.about_us .content .row-left-side {
  width: 60%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  margin-bottom: 25px;
  margin-top: 25px;
}

.about_us .content .row-left-side .col-m-8 {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: center;
}

.about_us .content .row-left-side .col-m-8 .uppercase {
  text-transform: uppercase;
  text-align: right;
  align-self: flex-end;
  margin-bottom: 0;
  padding-bottom: 0;
}

.about_us .content .row-left-side .col-m-8 .capitalize {
  text-transform: capitalize;
  text-align: right;
  align-self: flex-end;
  margin-top: 0;
  padding-top: 0;
}

.about_us .content .row-left-side .col-m-8 p {
  font-family: "Roboto Slab", serif;
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  align-self: flex-end;
}

.about_us .content .row-left-side .col-m-4 {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.about_us .content .row-left-side .col-m-4 img {
  align-self: center;
  border: 7px solid #f1f1f1;
  border-radius: 50%;
  display: block;
  position: center;
  object-fit: cover;
  width: 169px;
  height: 169px;
}

.about_us .content .row-right-side {
  width: 60%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
  margin-bottom: 25px;
  margin-top: 25px;
}

.about_us .content .row-right-side .col-m-4 {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.about_us .content .row-right-side .col-m-4 img {
  align-self: center;
  border: 7px solid #f1f1f1;
  border-radius: 50%;
  display: block;
  position: center;
  object-fit: cover;
  width: 169px;
  height: 169px;
}

.about_us .content .row-right-side .col-m-8 {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}

.about_us .content .row-right-side .col-m-8 .uppercase {
  text-transform: uppercase;
  text-align: left;
  align-self: flex-start;
  margin-bottom: 0;
  padding-bottom: 0;
}

.about_us .content .row-right-side .col-m-8 .capitalize {
  text-transform: capitalize;
  text-align: left;
  align-self: flex-start;
  margin-top: 0;
  padding-top: 0;
}

.about_us .content .row-right-side .col-m-8 p {
  font-family: "Roboto Slab", serif;
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  align-self: flex-start;
}

.about_us .content .row-center {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
}

.about_us .content .row-center .col-m-12 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.about_us .content .row-center .col-m-12 button {
  border: 7px solid #f1f1f1;
  border-radius: 50%;
  display: block;
  width: 169px;
  height: 169px;
  background-color: #fed136;
  font-family: "Montserrat", sans-serif;
  color: #fafafa;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  text-transform: upparcase;
}

/* sekcja - OUR TEAM */
.our_team {
  background-color: #f1f1f1;
}

.our_team .content {
  width: 80%;
}

.our_team .content .col-m-4 img {
  align-self: center;
  border: 7px solid #fafafa;
  border-radius: 50%;
  display: block;
  position: center;
  object-fit: cover;
  width: 220px;
  height: 220px;
  margin: auto;
}

.our_team .content .col-m-4 h3 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.our_team .content .col-m-4 p {
  font-family: "Roboto Slab", serif;
  color: #777777;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}

.our_team .content .col-m-4 .social-media-icons {
  width: 140px;
  height: 40px;
  background-color: #f1f1f1;
}

.our_team .content .col-m-4 .social-media-icons button {
  margin: 0;
  border: hidden;
  background-color: inherit;
}

.our_team .content .col-m-4 .social-media-icons button .icon-btn {
  width: 40px;
  height: 40px;
  border: 3px solid #222222;
  color: #222222;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 21px;
  line-height: 40px;
}

.our_team .content .col-m-4 .social-media-icons button .fa-twitter:hover {
  transition: .4s linear;
  color: #fafafa;
  background-color: #00aced;
}

.our_team .content .col-m-4 .social-media-icons button .fa-facebook-f:hover {
  transition: .4s linear;
  color: #fafafa;
  background-color: #3b5998;
}

.our_team .content .col-m-4 .social-media-icons button .fa-pinterest-p:hover {
  transition: .4s linear;
  color: #fafafa;
  background-color: #da2713;
}

.our_team .content .col-m-4 .social-media-icons button .fa-google-plus-g:hover {
  transition: .4s linear;
  color: #fafafa;
  background-color: #d95232;
}

.our_team .row {
  width: 100%;
}

.our_team .row p {
  font-family: "Roboto Slab", serif;
  color: #777777;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
}

/* section-MEADI */
.media {
  height: 130px;
  width: 100%;
}

.media img {
  padding: 10px;
}

.media img .envato {
  width: 161px;
  height: 30px;
}

.media img .wordpress {
  width: 186px;
  height: 42px;
}

.media img .tuts {
  width: 131px;
  height: 41px;
}

.media img .microlancer {
  width: 167px;
  height: 42px;
}

/* section CONTACT-US */
.contact_us {
  background-color: black;
}

.contact_us .section_heading .main_heading {
  color: #fafafa;
}

.contact_us .section_heading .subheading {
  color: #fafafa;
}

.contact_us .contact_form {
  width: 80%;
}

.contact_us .contact_form .col-m-6 form {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 20px;
  height: 300px;
}

.contact_us .contact_form .col-m-6 form input {
  padding: 5px;
  margin: 5px 0;
  background-color: #fafafa;
  color: black;
  display: block;
  width: 100%;
  height: 50px;
  transition: .5s all;
  font-family: "Roboto Slab", serif;
  text-align: left;
}

.contact_us .contact_form .col-m-6 form input:required {
  border-color: black;
  outline-color: #fed136;
}

.contact_us .contact_form .col-m-6 form input:placeholder-shown {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.contact_us .contact_form .col-m-6 form textarea {
  width: 100%;
  height: 200px;
  padding: 5px;
  margin: 5px 0;
  display: block;
}

.contact_us .sending_button {
  width: 100%;
  height: 150px;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/* section - footer */
.footer {
  width: 80%;
  margin-top: 20px;
  justify-content: flex-start;
}

.footer .row .col-m-4 p {
  font-family: "Roboto Slab", serif;
  color: #777777;
}

.footer .row .col-m-4 button {
  margin: 0;
  border: hidden;
  background-color: inherit;
}

.footer .row .col-m-4 button .icon-btn {
  width: 40px;
  height: 40px;
  border: 3px solid #222222;
  color: #fafafa;
  background-color: #222222;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 21px;
  line-height: 45px;
}

.footer .row .col-m-4 button .fa-twitter:hover {
  transition: .4s linear;
  background-color: #00aced;
}

.footer .row .col-m-4 button .fa-facebook-f:hover {
  transition: .4s linear;
  background-color: #3b5998;
}

.footer .row .col-m-4 button .fa-pinterest-p:hover {
  transition: .4s linear;
  background-color: #da2713;
}

.footer .row .col-m-4 button .fa-google-plus-g:hover {
  transition: .4s linear;
  background-color: #d95232;
}

@media (max-width: 767px) {
  /* For phones and tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  /* seckcja SERVICES */
  .main_heading {
    font-size: 30px;
  }
  .jumbotron .top_navigation {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .jumbotron .top_navigation .top_menu {
    display: flex;
    justify-content: center;
  }
  .jumbotron .top_navigation .top_menu ul {
    display: block;
  }
  .jumbotron .top_navigation .top_menu ul li {
    display: block;
  }
  .jumbotron .welcome_text .italic {
    font-size: 30px;
  }
  .jumbotron .welcome_text .uppercase {
    font-size: 50px;
    font-weight: 400;
  }
  .services .content {
    width: 100%;
    display: flex;
    flex-flow: column;
  }
  .services .content .col-s-12 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  /* sekcja PORTFOLIO */
  .portfolio .gallery {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
  }
  .portfolio .gallery .col-s-12 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .portfolio .gallery .col-s-12 .photo {
    width: 90%;
    height: 90%;
  }
  .portfolio .gallery .col-s-12 .description {
    width: 90%;
    height: auto;
  }
  /* section - ABOUT US */
  .about_us .content .row-left-side {
    width: 100%;
    flex-flow: column wrap;
    justify-content: center;
    align-self: center;
  }
  .about_us .content .row-left-side .col-s-12 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .about_us .content .row-left-side .col-s-12 .uppercase {
    align-self: center;
    text-align: center;
  }
  .about_us .content .row-left-side .col-s-12 .capitalize {
    align-self: center;
    text-align: center;
  }
  .about_us .content .row-left-side .col-s-12 p {
    align-self: center;
    text-align: center;
  }
  .about_us .content .row-left-side .col-s-12 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .about_us .content .row-left-side .col-s-12 img {
    width: 100%;
    height: 100%;
  }
  .about_us .content .row-right-side {
    width: 100%;
    flex-flow: column-reverse;
    justify-content: center;
    align-self: center;
  }
  .about_us .content .row-right-side .col-s-12 {
    justify-content: center;
  }
  .about_us .content .row-right-side .col-s-12 img {
    width: 100%;
    height: 100%;
  }
  .about_us .content .row-right-side .col-s-12 {
    justify-content: center;
  }
  .about_us .content .row-right-side .col-s-12 .uppercase {
    align-self: center;
    text-align: center;
  }
  .about_us .content .row-right-side .col-s-12 .capitalize {
    align-self: center;
    text-align: center;
  }
  .about_us .content .row-right-side .col-s-12 p {
    align-self: center;
    text-align: center;
  }
  /* sekcja - OUR TEAM */
  .our_team .content {
    width: 100%;
    flex-flow: column;
  }
  .our_team .content .col-s-12 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;
  }
  .our_team .content .col-s-12 img {
    width: 100%;
    height: 100%;
  }
  .our_team .content .col-s-12 .social-media-icons button .fa-twitter:hover {
    transition: none;
  }
  .our_team .content .col-s-12 .social-media-icons button .fa-facebook-f:hover {
    transition: none;
  }
  .our_team .content .col-s-12 .social-media-icons button .fa-pinterest-p:hover {
    transition: none;
  }
  .our_team .content .col-s-12 .social-media-icons button .fa-google-plus-g:hover {
    transition: none;
  }
  /* section-MEADI */
  .media {
    height: auto;
    flex-flow: column wrap;
  }
  .media img {
    width: 100%;
    height: auto;
    margin-bottom: 10%;
  }
  .media img .envato {
    width: 100%;
    height: auto;
  }
  .media img .wordpress {
    width: 100%;
    height: auto;
  }
  .media img .tuts {
    width: 100%;
    height: auto;
  }
  .media img .microlancer {
    width: 100%;
    height: auto;
  }
  /* section CONTACT-US */
  .contact_us .contact_form {
    width: 100%;
    flex-flow: column wrap;
  }
  .contact_us .contact_form .col-s-12 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .contact_us .contact_form .col-s-12 form {
    justify-content: centert;
    align-items: center;
    height: auto;
  }
  .contact_us .contact_form .col-s-12 form textarea {
    height: 80%;
  }
  /* section - footer */
  .footer .row {
    flex-flow: column;
  }
  .footer .row .col-s-12 {
    display: flex;
    flex-flow: column;
  }
  .footer .row .col-s-12 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  .footer .row .col-s-12 button .fa-twitter:hover {
    transition: none;
  }
  .footer .row .col-s-12 button .fa-facebook-f:hover {
    transition: none;
  }
  .footer .row .col-s-12 button .fa-pinterest-p:hover {
    transition: none;
  }
  .footer .row .col-s-12 button .fa-google-plus-g:hover {
    transition: none;
  }
}

/* ostatni nawias */

/*# sourceMappingURL=style.css.map */