/* variables for colors */
/* variables for fonts */
/* class for heading h3 */
.heading_h2, .services .headings h2 { font-family: "Montserrat", sans-serif; color: #222222; font-size: 40px; font-weight: 700; line-height: 75px; text-align: center; text-transform: uppercase; }

.heading_h3 { font-family: "Montserrat", sans-serif; color: #222222; font-size: 18px; font-weight: 700; }

.yellow-button, .jumbotron div .button { border-radius: 3px; background-color: #fed136; width: 240px; height: 65px; font-family: "Montserrat", sans-serif; text-transform: uppercase; font-size: 18px; font-weight: 700; text-align: center; color: #fafafa; border: none; }

.clearfix::before, .clearfix::after { content: ""; display: table; clear: both; }

* { box-sizing: border-box; }

body { margin: 0 auto; width: 100%; max-width: 1400px; }

[class*='col-'] { min-height: 1px; border: 1px solid green; }

.row { border: 1px solid purple; width: 100%; max-width: 1400px; }

.col-md-1 { width: 8.33%; }

.col-md-2 { width: 16.66%; }

.col-md-3 { width: 25%; }

.col-md-4 { width: 33.33%; }

.col-md-5 { width: 41.66%; }

.col-md-6 { width: 50%; }

.col-md-7 { width: 58.33%; }

.col-md-8 { width: 66.66%; }

.col-md-9 { width: 75%; }

.col-md-10 { width: 83.33%; }

.col-md-11 { width: 91.66%; }

.col-md-12 { width: 100%; }

.col-lg-1 { width: 8.33%; }

.col-lg-2 { width: 16.66%; }

.col-lg-3 { width: 25%; }

.col-lg-4 { width: 33.33%; }

.col-lg-5 { width: 41.66%; }

.col-lg-6 { width: 50%; }

.col-lg-7 { width: 58.33%; }

.col-lg-8 { width: 66.66%; }

.col-lg-9 { width: 75%; }

.col-lg-10 { width: 83.33%; }

.col-lg-11 { width: 91.66%; }

.col-lg-12 { width: 100%; }

/* header */
.jumbotron { background-image: url("../images/Background_Image.png"); width: 100%; max-width: 1400px; height: 700px; background-position: center; background-size: cover; background-repeat: no-repeat; position: relative; }

.jumbotron .top_navigation { display: block; position: relative; }

.jumbotron .top_navigation .logo { float: left; }

.jumbotron .top_navigation .logo .logo-text { font-family: 'Great Vibes', cursive; font-size: 26px; line-height: 41px; text-align: left; color: #fed136; }

.jumbotron .top_navigation .top_menu { float: right; width: 480px; height: 15px; }

.jumbotron .top_navigation .top_menu ul { display: inline-block; list-style-type: none; }

.jumbotron .top_navigation .top_menu ul li { display: inline-block; padding: 0 5px; }

.jumbotron .top_navigation .top_menu ul li a { display: block; text-decoration: none; text-transform: uppercase; color: #fafafa; font-family: "Montserrat", sans-serif; font-size: 14px; font-weight: 400; line-height: 41px; text-align: center; }

.jumbotron .welcome_text { max-width: 1400px; width: 100%; text-align: center; position: absolute; top: 55%; left: 50%; transform: translate(-50%, -50%); }

.jumbotron .welcome_text .italic { font-family: "Crimson Text", serif; text-transform: capitalize; color: #fafafa; font-size: 40px; text-align: center; }

.jumbotron .welcome_text .uppercase { font-family: "Montserrat", sans-serif; text-transform: uppercase; color: #fafafa; font-size: 75px; font-weight: 700; text-align: center; }

.jumbotron div .button { position: absolute; top: 75%; left: 50%; transform: translate(-50%, -50%); }

/* section SERVICES */
.services { display: -ms-flexbox; display: flex; -ms-flex-flow: column wrap; flex-flow: column wrap; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }

.services .headings { display: -ms-flexbox; display: flex; -ms-flex-flow: column wrap; flex-flow: column wrap; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: justify; align-content: space-between; }

.services .headings p { font-family: "Crimson Text", serif; font-size: 16px; text-align: center; }

.services .row { width: 80%; display: -ms-flexbox; display: flex; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; }
